<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="COMMON_PATTERN" value="%d{HH:mm:ss.SSS} %level ${PID} [%thread] [%logger{0}] %msg%n"/>
    <property name="SYSTEM_PATH" value="${LOG_PATH}/log/system"/>
    <property name="SYSTEM_WARN_PATH" value="${LOG_PATH}/log/system_warn"/>
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="SYSTEM_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${SYSTEM_PATH}/%d{yyyy-MM-dd, aux}/system.%d{yyyy-MM-dd}_%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="SYSTEM_WARN_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${SYSTEM_WARN_PATH}/%d{yyyy-MM-dd, aux}/system_warn.%d{yyyy-MM-dd}_%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="SYSTEM_APPENDER"/>
        <appender-ref ref="SYSTEM_WARN_APPENDER"/>
    </root>
</configuration>